<%= f.error_messages %>

  <p>
    <%= f.label :nm_cliente, "Nome:" %><br />
    <%= f.text_field :nm_cliente %>
  </p>
  <p>
    <%= f.label :endereco, "Endereço:" %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :fone %><br />
    <%= f.text_field :fone %>
  </p>
  <p>
    <%= f.label :cidade %><br />
    <%= f.text_field :cidade %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.label :cep, "CEP" %><br />
    <%= f.text_field :cep %>
  </p>
  <p>
    <%= f.label :cnpj, "CNPJ" %><br />
    <%= f.text_field :cnpj %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= select_tag "cliente[status]", options_for_select([ ["ATIVO",true], ["INATIVO",false] ], @cliente.status) %>
  </p>
  <br>
  <p>
    <%= f.submit 'Criar' %>
  </p>
  <%= link_to 'Voltar', clientes_path %>