<table width="100%" border="0">
  <tr>
    <th style="text-align:left">Nm cliente</th>
    <th style="text-align:left" width="20%">Fone</th>
    <th style="text-align:left" width="25%">Email</th>
    <th style="text-align:left" width="5%">Status</th>
    <th width="25%">Ações</th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%=h cliente.nm_cliente %></td>  
    <td><%=h cliente.fone %></td>
    <td><%=h cliente.email %></td>
    <td><%= if cliente.status then "ATIVO" else "INATIVO" end %></td>
    <td align="center"><%= link_to 'Exibir', cliente %>
    <%= link_to 'Editar', edit_cliente_path(cliente) %>
    <%= link_to 'Excluir', cliente, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo cliente', new_cliente_path %>