<p>
  <b>Nome:</b>
  <%=h @cliente.nm_cliente %>
</p>

<p>
  <b>Endereço:</b>
  <%=h @cliente.endereco %>
</p>

<p>
  <b>Fone:</b>
  <%=h @cliente.fone %>
</p>

<p>
  <b>Cidade:</b>
  <%=h @cliente.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%=h @cliente.estado %>
</p>

<p>
  <b>CEP:</b>
  <%=h @cliente.cep %>
</p>

<p>
  <b>CNPJ:</b>
  <%=h @cliente.cnpj %>
</p>

<p>
  <b>Email:</b>
  <%=h @cliente.email %>
</p>

<p>
  <b>Status:</b>
  <%= if @cliente.status then "ATIVO" else "INATIVO" end %>
</p>


<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>