<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>ATIVITEC</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'projeto' %>
  <%= javascript_include_tag "prototype.js" %>
  <%= javascript_include_tag "effects.js" %>
  <%= javascript_include_tag "scriptaculous.js" %>
  <%= javascript_include_tag 'application.js' %>
</head>
<body>
<%= flash_message %>
<div id=wrap>
<br><br>
  <div id=homepage-wrapper style="width:450px;">
        <div id=navigation-wrapper style="width:440px; padding:5px; text-align:center; font-weight:bold; font-size:14px;">
          <div id="logo">
            <%=image_tag("logo.png") %>            
          </div>
          <br />
             Informe seu usuário e senha e em seguida <br>
               clique em entrar para acessar o sistema.
        </div>

        <div style="CLEAR: both"></div>

        <div id=outer-wrapper style="width:450px; background-color:#f3f3f3;">          
            <div id=wrap2>
                <div id=content-wrapper>
                    <div id=mainarea-wrapper>
                        <div id=centerbar-wrapper-list>
<% form_tag session_path do -%>
  <table width="70%" border="0">
  <tr>
    <td align="right"><b><%= label_tag 'login:' %></b></td>
    <td><%= text_field_tag 'login', @login %></td>
  </tr>  
  <tr>
    <td align="right"><b><%= label_tag 'password', 'Senha:' %></b></td>
    <td><%= password_field_tag 'password', nil %></td>
  </tr>
    <tr>
      <td></td>
      <td><%= submit_tag 'Entrar', :class=> "botao_salvar" %></td>
    </tr>
  <!-- Uncomment this if you want this functionality
  <p><%= label_tag 'remember_me', 'Remember me' %>
  <%= check_box_tag 'remember_me', '1', @remember_me %></p>
  -->
  </table>    
<% end -%>
                        </div>
                        <div id=bottombar-wrapper></div>
                    </div>
                </div>
            </div>
	</div>
    </div> <!-- end homepage-wrapper -->
</div> <!-- end wrap -->

</body>
</html>

