<table width="100%" class="linhasAlternadas">
  <tr>
    <th>NOME</th>
    <th width="150px" style="text-align:center">AÇÕES</th>
  </tr>

<% @projetos.each do |projeto| %>
  <tr>
    <td><%=h projeto.nm_projeto %></td>
    <td align="center"><%= link_to 'Exibir', projeto %>
    <%= link_to 'Editar', edit_projeto_path(projeto) %>
    <%= link_to 'Excluir', projeto, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Novo Projeto', new_projeto_path, :class=>"linque_criar" %>