<% form_remote_tag :url => '/relatorios/show',
  :update => "result",
  :loading => "Element.show('carregando')",
  :complete => "Element.hide('carregando')",
  :method => :get do %>
<table width="100%" border="0">
          <tr>
            <td align="center" width="50%">
              <table width="100%" border="0">
              <tr>
                <td width="20%" align="right"> Usuário: </td>
                <td> <%= select("relatorio", "usuario_id", User.all.collect {|p| [ p.login, p.id ] }, {:include_blank => true}, :style=>"width: 230px;") %> </td>
              </tr>
              <tr>
                <td width="20%" align="right"> Cliente: </td>
                <td> <%= select("relatorio", "cliente_id", Cliente.all.collect {|p| [ p.nm_cliente, p.id ] }, {:include_blank => true}, :style=>"width: 230px;") %> </td>
              </tr>
              <tr>
                <td width="20%" align="right"> Projeto: </td>
                <td> <%= select("relatorio", "projeto_id", Projeto.all.collect {|p| [ p.nm_projeto, p.id ] }, {:include_blank => true}, :style=>"width: 230px;") %> </td>
              </tr>
              </table>
            </td>
            <td align="center" width="50%" valign="top">
              <table width="100%" border="0">
              <tr>
                <td width="20%" align="right"> Data de: </td>
                <td> <%= calendar_date_select_tag "data_ini", Time.now.strftime("%d/%m/%Y")+" 00:00", {:buttons => false, :time => true, :size => 15} %> </td>
              </tr>
              <tr>
                <td align="right"> Data até: </td>
                <td> <%= calendar_date_select_tag "data_fim", Time.now.strftime("%d/%m/%Y")+" 23:59", {:buttons => false, :time => true, :size => 15} %> </td>
              </tr>
              </table>
            </td>
          </tr>
        </table>
    <br>
<%= submit_tag 'Gerar relatório', :class=>"botao_salvar" %>
  <div id="carregando" style="display:none"><%=image_tag("loading.gif", :border=>0)%>carregando...</div>
<% end %>
<!-- fim conteudo -->
<div id="result"></div>