<hr>
<%= page_entries_info(@relatorios, :entry_name => 'registros').gsub('Displaying','Mostrando').gsub('all','todos').gsub('of','de').gsub('in total','no total').gsub('No registros found','<div id=no_register class=no_register style="text-align:center">Não foram encontrados registros</div>') %>
<!-- conteudo -->
<% if @relatorios.size>0 then %>
<table width="100%" border="0">
  <tr>
    <td align="right">
        <%=image_tag("printer.png")%>
    </td>
  </tr>
</table>
 <table class="linhasAlternadas">
      <tr>
        <th style="text-align:center; width:50px">ID OS</th>
        <th style="text-align:center; width:120px">Usuário</th>
        <th style="text-align:center; width:100px">Tempo</th>
        <th style="text-align:center; width:100px">Status</th>
        <th style="text-align:center; width:120px">Atividade</th>
        <th>Descrição</th>
      </tr>
<% @relatorios.each do |x| %>
      <%# soma = soma + x.tempo %>
      <tr <% if x.status=="CANCELADA" %> style="color:white; opacity:0.4; background-color:red;" <%end%>>
        <td style="text-align:center;"> <%= x.nr_os %> </td>
        <td style="text-align:center;"> <%= x.usuario %> </td>
        <td style="text-align:center;"> <%=convert_hour(x.tempo) unless x.tempo==nil %> </td>
        <td style="text-align:center; background-color:"> <%=x.status%> </td>
        <td style="text-align:center;"> <%=x.atividade%> </td>
        <td> <%=x.txt_descricao%> </td>
      </tr>
<%end%>
 </table>
<%= will_paginate @relatorios, :previous_label => "Anterior", :next_label => "Próximo", :class => "digg_pagination" %>
<%end%>