<p> 
  <b>Login:</b>
  <%=h @user.login %>
</p>
<p>
  <b>Email:</b>
  <%=h @user.email%>
</p>
<p>
  <b>Tipo usuário:</b>
  <%= if @user.tp_user=="A" then "Administrador" else "Técnico" end %>
</p>

<%= link_to 'Editar', edit_user_path(@user), :class=>"linque_editar" %> <%= link_to 'Voltar', users_path, :class=>"linque_voltar" %>