
<LI class=<%= if controller.controller_name=="defaults" then "navSelected" else "cat-item" end %>><A href="/defaults"><SPAN>Home</SPAN></A> </LI>
<LI class=<%= if controller.controller_name=="users" then "navSelected" else "cat-item" end %>><A href="/users" title="Listar Usuários"><SPAN>Usuários</SPAN></A> </LI>
<LI class=<%= if controller.controller_name=="clientes" then "navSelected" else "cat-item" end %>><A href="/clientes" title="Listar Clientes"><SPAN>Clientes</SPAN></A> </LI>
<LI class=<%= if controller.controller_name=="projetos" then "navSelected" else "cat-item" end %>><A href="/projetos" title="Listar Projetos"><SPAN>Projetos</SPAN></A> </LI>
<LI class=<%= if controller.controller_name=="atividades" then "navSelected" else "cat-item" end %>><A href="/atividades" title="Listar Atividades"><SPAN>Atividades</SPAN></A> </LI>
<LI class=<%= if controller.controller_name=="relatorios" then "navSelected" else "cat-item" end %>><A href="/relatorios" title="Gerar Relatórios"><SPAN>Relatórios</SPAN></A> </LI>
<LI class=<%= if controller.controller_name=="graficos" then "navSelected" else "cat-item" end %>><A href="/graficos" title="Gerar Gráficos"><SPAN>Gráficos</SPAN></A> </LI>
<LI class=<%= if controller.controller_name=="backups" then "navSelected" else "cat-item" end %>><A href="/backups" title="Gerar Backup"><SPAN>Backup</SPAN></A> </LI>
<LI class=cat-item><A href="/logout" title="Logout"><SPAN>Logout</SPAN></A></LI>