<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2"><%= f.label :nm_contato, "Contato" %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.text_field :nm_contato %>
      <div id="erro_projeto" style="color:white; background-color:red; width:295px; padding-left:5px"><%= @orden_servico.errors.on(:nm_contato).to_a.join("<br>") %></div></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.label :txt_descricao, "Descrição" %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.text_area :txt_descricao, :cols => 50, :rows => 8 %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.label :motivo_atividade %></td>
  </tr>
  <tr>
    <td colspan="2"><% MotivoAtividade.all.each do |x| %> <%=radio_button("orden_servico", "motivo_atividade_id", x.id) %> <%=x.nm_motivo%> <% end %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.label :cliente %></td>
  </tr>
  <tr>
    <td colspan="2"><%= select("orden_servico", "cliente_id", Cliente.all.collect {|p| [ p.nm_cliente, p.id ] }, {:include_blank => true}, :style=>"width: 230px;") %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.label :projeto %></td>
  </tr>
  <tr>
    <td colspan="2"><%= select("orden_servico", "projeto_id", Projeto.all.collect {|p| [ p.nm_projeto, p.id ] }, {:include_blank => true}, :style=>"width: 230px;") %></td>
  </tr>
  <tr>
    <td><%= f.label :user, "Usuário" %></td>
    <td><%= f.label :hrs_previsao_termino, "Hrs previsão termino" %></td>
  </tr>
  <tr>
    <td><%=%><%= select("orden_servico", "user_id", User.all.collect {|p| [ p.login, p.id ] }, {:include_blank => false, :selected=>session[:user_id]}, :style=>"width: 230px;", :disabled=>(controller.action_name=='edit'?true:false)) %></td>
    <td><%= f.text_field :hrs_previsao_termino, :size=>5 %></td>
  </tr>
</table>
<% unless controller.action_name=="edit" then %>
        <%= hidden_field_tag "orden_servico[atividade_id]", params[:cod_atividade] %>
      <input type="submit" onclick="Modalbox.show('/orden_servico_create', {title: 'Ordens de Serviço', width: 500, params:Form.serialize('orden_servico') }); return false;" value="Gravar" class="botao_salvar">
<% else %>
      <input type="submit" onclick="Modalbox.show('/orden_servico_up/<%=params[:id].to_i%>', {title: 'Ordens de Serviço', width: 500, params:Form.serialize('orden_servico') }); return false;" value="Gravar" class="botao_salvar">
<% end %>




  