<div id="list_os">
  <table width="100%" border="0">
    <tr>
      <th colspan="2"></th>
      <th colspan="2"></th>
      <th>ID</th>
      <th>Cliente</th>
      <th>Motivo</th>
      <th>Previsao</th>
      <th>Contato</th>
      <th>Projeto</th>
    </tr>
  <% @orden_servicos.each do |orden_servico| %>
    <tr>
      <td width="25px">
        <%= link_to image_tag("OK.png", :height => '25', :width => '25', :title=>"iniciar os"), {:controller=>"orden_servicos", :action => "iniciar", :id => orden_servico.id}, :class=>"comment-link", :style=>"PADDING-RIGHT: 10px;" %>
      </td>
      <td width="25px">
        <%= link_to_remote(image_tag("ERR.png", :height => '25', :width => '25', :title=>"cancelar os"), :update => "list_os", :url => {:action => "cancelar", :id=>orden_servico.id }, :confirm => 'Tem certeza?') %>
      </td>
      <td width="25px">
        <%= link_to_remote(image_tag("MENOS.png", :height => '25', :width => '25', :title=>"diminuir prioridade"), :update => "list_os", :url => {:action => "diminuir_prioridade", :id=>orden_servico.id }) %>
      </td>
      <td width="25px">
        <%= link_to_remote(image_tag("MAIS.png", :height => '25', :width => '25', :title=>"aumentar prioridade"), :update => "list_os", :url => {:action => "aumentar_prioridade", :id=>orden_servico.id }) %>
      </td>
      <td><%=h orden_servico.id %></td>
      <td><%=h orden_servico.cliente.nm_cliente unless orden_servico.cliente==nil %></td>
      <td><%=h orden_servico.motivo_atividade.nm_motivo unless orden_servico.motivo_atividade==nil %></td>
      <td><%=h orden_servico.hrs_previsao_termino.to_i %>hs</td>
      <td><%=h orden_servico.nm_contato %></td>
      <td><%=h orden_servico.projeto.nm_projeto unless orden_servico.projeto==nil %></td>
    </tr>
  <% end %>
  </table>
</div>