<!--
<p>
  <b>Dt inicio:</b>
  <%=h @orden_servico.dt_inicio %>
</p>

<p>
  <b>Dt termino:</b>
  <%=h @orden_servico.dt_termino %>
</p>
-->
  <b>Contato:</b>
  <%=h @orden_servico.nm_contato %>
<br><br>
  <b>Cliente:</b>
  <%=h @orden_servico.cliente.nm_cliente unless @orden_servico.cliente==nil %>
<br><br>
  <b>Atividade:</b>
  <%=h @orden_servico.atividade.nm_atividade unless @orden_servico.atividade==nil %>
<br><br>
  <b>Descrição:</b>
  <%= @orden_servico.txt_descricao.gsub("\n","<br>") %>
<br><br>
  <b>Previsão Término:</b>
  <%=h @orden_servico.hrs_previsao_termino %>
<br><br>
  <b>Motivo Atividade:</b>
  <%=h @orden_servico.motivo_atividade.nm_motivo unless @orden_servico.motivo_atividade==nil %>
<br><br>
  <b>Projeto:</b>
  <%=h @orden_servico.projeto.nm_projeto unless @orden_servico.projeto==nil %>
<br><br>
<% if @atividade.tp_atividade!="E" then %>
  <% if @orden_servico.ind_status!="E" then %>
    <% if @orden_servico.user_id==session[:user_id] then %>
      <%= link_to 'Iniciar', {:controller=>"orden_servicos", :action => "iniciar", :id => @orden_servico.id}, :class=>"comment-link", :style=>"PADDING-RIGHT: 10px;", :class=>"linque_editar" %>
    <%end%>
  <%end%>
  <%= link_to 'Editar', edit_orden_servico_path(@orden_servico), :onclick=>"Modalbox.show(this.href, {title: 'Ordens de Serviço', width: 600}); return false;", :class=>"linque_editar" %>
<%end%>
<%= link_to 'Fechar', nil, :onclick=>"Modalbox.hide(); return false;", :class=>"linque_voltar" %>
<%#= link_to 'Back', orden_servicos_path, :onclick=>"Modalbox.show(this.href, {title: this.title, width: 600}); return false;", :class=>"linque_voltar" %>