  <div id=mainarea-wrapper style="width:640px;">
      <div id=centerbar-wrapper>
              <div id=centerbar class="centerbar section"><b>OS em execução</b></div>
      </div>
      <div id=main-wrapper>
          <div id=main class="main section">
              <div id=os_execucao class="widget Blog">
  <!-- inicio OS em execucao -->
  <% @execucao_orden_servicos.each do |y| %>
  <div class="blog-posts hfeed">
      <div style="BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 2px; BORDER-RIGHT: #ccc 2px solid; PADDING-TOP: 10px; font-family:sans-serif; font-size:12px">
        <div style="WIDTH: 280px; FLOAT: left">
          <a href="#"><%=image_tag("arrow_icon.png", :style=>"VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px")%><%=Cliente.find_by_id(y.cliente_id).nm_cliente%>/ OS <%=y.id%></a>
        </div>
      <div style="WIDTH: 310px; FLOAT: right;">
        <%=image_tag("maintenance_cron_time_icon.jpg", :style=>"VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px")%><%=y.dt_inicio.strftime("%d-%m-%Y %H:%M").to_s%>
      <span class=post-comment-link>        
        <%= link_to "parar", {:controller=>"orden_servicos", :action => "parar", :id => y.id}, :class=>"comment-link", :style=>"PADDING-RIGHT: 8px;" %>|
        <%= link_to 'editar', edit_orden_servico_path(y.id), :onclick=>"Modalbox.show(this.href, {title: 'Ordens de Serviço', width: 600}); return false;", :class=>"comment-link", :style=>"PADDING-RIGHT: 8px;" %>|
        <%= link_to "concluir", {:controller=>"orden_servicos", :action => "concluir", :id => y.id}, :class=>"comment-link", :style=>"MARGIN-LEFT: 0.3em" %>
      </span>
      </div>
      <div style="CLEAR: both"></div></div>
  </div>
  <div id=blog-pager class=blog-pager></div>
  <div class=clear></div>
  <% end %>
  <!-- fim OS em execucao -->
              </div>
          </div>
      </div>
      <div id=bottombar-wrapper></div>
  </div>
  <!-- fim das OS em execucao -->
  
  <div id=sidebar-wrapper>
      <div id=sidebar class="sidebar section">
          <div id=Feed1 class="widget Feed"> <h2>ATIVIDADES</h2>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold">
                <% @atividades.each do |x| %>
                <tr>
                  <td height="30" align="center" bgcolor="#EAEAEA">
                    <%= link_to x.nm_atividade,"/orden_servicos/new?cod_atividade=#{x.id}", :onclick => "Modalbox.show(this.href, {title: 'Cadastro de Ordens de Serviço', width: 600}); return false;" %>
                  </td>
                </tr>
                <% end %>
              </table>
              <div class=clear></div>
              <span class=widget-item-control><span class="item-control blog-admin"></span></span>
          </div>
      </div>
  </div>
  <!-- fim das ATIVIDADES -->