<%= f.error_messages %>
  <p>
    <%= f.label :nm_atividade, "Nome" %><br />
    <%= f.text_field :nm_atividade %>
  </p>
  <p>
    <%= f.label :tp_atividade, "Tipo" %><br />
    <%= select_tag "atividade[tp_atividade]", options_for_select([ ["TRABALHO","T"], ["DESCANSO","D"] ], @atividade.tp_atividade) %>
  </p>
   <p>
    <%= f.label :exibe_projeto %><br />
    <%= select_tag "atividade[exibe_projeto]", options_for_select([ ["SIM",true], ["NÃO",false] ], @atividade.exibe_projeto) %>
  </p>
  <p>
    <%= f.label :icone_atividade %><br />
    <%= f.text_field :icone_atividade %>
  </p>
  <p>
    <%= f.label :nr_ordem %><br />
    <%= f.text_field :nr_ordem %>
  </p>
  <p>
    <%= f.label :exibe_prev_termino %><br />
    <%= select_tag "atividade[exibe_prev_termino]", options_for_select([ ["SIM",true], ["NÃO",false] ], @atividade.exibe_prev_termino) %>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
  <%= link_to 'Voltar', atividades_path %>