<table width="100%" class="linhasAlternadas">
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Exibe projeto</th>    
    <th>Exibe prev termino</th>
    <th width="150px" style="text-align:center">AÇÕES</th>
  </tr>

<% @atividades.each do |atividade| %>
  <tr>
    <td><%=h atividade.nm_atividade %></td>
    <td><%= if atividade.tp_atividade=="I" then "INTERNA" elsif atividade.tp_atividade=="E" then "EXTERNO" elsif atividade.tp_atividade=="D" then "DESCANSO" else "INDEFINIDO" end%></td>
    <td><%=(atividade.exibe_projeto)?"SIM":"NÃO"%></td>    
    <td><%=(atividade.exibe_prev_termino)?"SIM":"NÃO"%></td>
    <td style="widows:15%; text-align:center"><%= link_to 'Exibir', atividade %>
    <%= link_to 'Editar', edit_atividade_path(atividade) %>
    <%= link_to 'Excluir', atividade, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Nova atividade', new_atividade_path, :class=>"linque_criar" %>