<p>
  <b>Nome:</b>
  <%=h @atividade.nm_atividade %>
</p>

<p>
  <b>Tipo:</b>
  <%= if @atividade.tp_atividade=="I" then "INTERNA" elsif @atividade.tp_atividade=="E" then "EXTERNO" elsif @atividade.tp_atividade=="D" then "DESCANSO" else "INDEFINIDO" end %>
</p>

<p>
  <b>Exibe projeto:</b>
  <%= if @atividade.exibe_projeto then "SIM" else "NÃO" end %>
</p>

<p>
  <b>Icone atividade:</b>
  <%=h @atividade.icone_atividade %>
</p>

<p>
  <b>Nr ordem:</b>
  <%=h @atividade.nr_ordem %>
</p>

<p>
  <b>Exibe prev termino:</b>
  <%= if @atividade.exibe_prev_termino then "SIM" else "NÃO" end %>
</p>

<p>
  <b>Atividades:</b>
  <% @atividade.motivo_atividades.each do |x| %> <%=x.nm_motivo%> <% end %>
</p>

<%= link_to 'Editar', edit_atividade_path(@atividade), :class=>"linque_editar" %> <%= link_to 'Voltar', atividades_path, :class=>"linque_voltar" %>