<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Projetos</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'projeto' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<DIV id=wrap>
	<DIV id=header-wrapper>
    	<DIV id=header>
            <DIV id=headerleft>
                <DIV id=headerleft class="headerleft section">
                    <DIV id=Header1 class="widget Header">
                        <DIV id=header-inner>
                            <%= render :partial => "shared/cabecalho" %>
                        </DIV>
                    </DIV>
                </DIV>
            </DIV>
        </DIV>
        </DIV>
	<DIV style="CLEAR: both"></DIV>

    <DIV id=homepage-wrapper>

        <DIV id=navigation-wrapper>
          <DIV id=navHeader>
                <UL id=menu>
                  <%= render :partial => "shared/menu" %>
                </UL>


              <SPAN class=spacer></SPAN>
            </DIV>
        </DIV>

        <DIV style="CLEAR: both"></DIV>

        <DIV id=outer-wrapper>
            <DIV id=wrap2>
                <DIV id=content-wrapper>
                    <DIV id=mainarea-wrapper>
                        <DIV id=centerbar-wrapper-list>

                        	<%= yield %>
                        </DIV>
                        <DIV id=bottombar-wrapper></DIV>
                    </DIV>
                    <!-- fim das OS em execucao -->
                </DIV>
            </DIV>
		</DIV>

        <DIV class=clear></DIV>

        <DIV id=footer_wrap>
            <DIV id=footer>
                <%= render :partial => "shared/rodape" %>
            </DIV>
        </DIV>
    </DIV> <!-- end homepage-wrapper -->
</DIV> <!-- end wrap -->

</body>
</html>
